; J4899A Configuration Editor; Created on release #H.10.83

hostname "ProCurve Switch 2650" 
max-vlans 64 
snmp-server community "public" Unrestricted 
vlan 1 
   name "Port 1"
   untagged 1 
   tagged 49
   exit 
vlan 2 
   name "Port 2" 
   untagged 2
   tagged 49
   exit 
vlan 3 
   name "Port 3" 
   untagged 3
   tagged 49
   exit 
vlan 4 
   name "Port 4" 
   untagged 4
   tagged 49
   exit 
vlan 5 
   name "Port 5" 
   untagged 5
   tagged 49
   exit 
vlan 6 
   name "Port 6" 
   untagged 6
   tagged 49
   exit 
vlan 7 
   name "Port 7" 
   untagged 7
   tagged 49
   exit 
vlan 8 
   name "Port 8" 
   untagged 8
   tagged 49
   exit 
vlan 9 
   name "Port 9" 
   untagged 9
   tagged 49
   exit 
vlan 10 
   name "Port 10" 
   untagged 10
   tagged 49
   exit 
vlan 11 
   name "Port 11" 
   untagged 11
   tagged 49
   exit 
vlan 12 
   name "Port 12" 
   untagged 12
   tagged 49
   exit 
vlan 13 
   name "Port 13" 
   untagged 13
   tagged 49
   exit 
vlan 14 
   name "Port 14" 
   untagged 14
   tagged 49
   exit 
vlan 15 
   name "Port 15" 
   untagged 15
   tagged 49
   exit 
vlan 16 
   name "Port 16" 
   untagged 16
   tagged 49
   exit 
vlan 17 
   name "Port 17" 
   untagged 17
   tagged 49
   exit 
vlan 18 
   name "Port 18" 
   untagged 18
   tagged 49
   exit 
vlan 19 
   name "Port 19" 
   untagged 19
   tagged 49
   exit 
vlan 20 
   name "Port 20" 
   untagged 20
   tagged 49
   exit 
vlan 21 
   name "Port 21" 
   untagged 21
   tagged 49
   exit 
vlan 22 
   name "Port 22" 
   untagged 22
   tagged 49
   exit 
vlan 23 
   name "Port 23" 
   untagged 23
   tagged 49
   exit 
vlan 24 
   name "Port 24" 
   untagged 24
   tagged 49
   exit 
vlan 25 
   name "Port 25" 
   untagged 25
   tagged 49
   exit 
vlan 26 
   name "Port 26" 
   untagged 26
   tagged 49
   exit 
vlan 27 
   name "Port 27" 
   untagged 27
   tagged 49
   exit 
vlan 28 
   name "Port 28" 
   untagged 28
   tagged 49
   exit 
vlan 29 
   name "Port 29" 
   untagged 29
   tagged 49
   exit 
vlan 30 
   name "Port 30" 
   untagged 30
   tagged 49
   exit 
vlan 31 
   name "Port 31" 
   untagged 31
   tagged 49
   exit 
vlan 32 
   name "Port 32" 
   untagged 32
   tagged 49
   exit 
vlan 33 
   name "Port 33" 
   untagged 33
   tagged 49
   exit 
vlan 34 
   name "Port 34" 
   untagged 34
   tagged 49
   exit 
vlan 35 
   name "Port 35" 
   untagged 35
   tagged 49
   exit 
vlan 36 
   name "Port 36" 
   untagged 36
   tagged 49
   exit 
vlan 37 
   name "Port 37" 
   untagged 37
   tagged 49
   exit 
vlan 38 
   name "Port 38" 
   untagged 38
   tagged 49
   exit 
vlan 39 
   name "Port 39" 
   untagged 39
   tagged 49
   exit 
vlan 40 
   name "Port 40" 
   untagged 40
   tagged 49
   exit 
vlan 41 
   name "Port 41" 
   untagged 41
   tagged 49
   exit 
vlan 42 
   name "Port 42" 
   untagged 42
   tagged 49
   exit 
vlan 43 
   name "Port 43" 
   untagged 43
   tagged 49
   exit 
vlan 44 
   name "Port 44" 
   untagged 44
   tagged 49
   exit 
vlan 45 
   name "Port 45" 
   untagged 45
   tagged 49
   exit 
vlan 46 
   name "Port 46" 
   untagged 46
   tagged 49
   exit 
vlan 47 
   name "Port 47" 
   untagged 47
   tagged 49
   exit 
vlan 48 
   name "Port 48" 
   untagged 48
   tagged 49
   exit 
;vlan 49 
;   name "Router"
;   exit
vlan 50 
   name "Upstream" 
   untagged 50 
   untagged 49
   ip address dhcp-bootp 
   exit 

primary-vlan 50
