#!/bin/bash -e

echo 1 > /proc/sys/net/ipv4/ip_forward

{% for route in routing|dict2items %}
# Config for 
# LAN:   port-{{ route.key + 1 }}
# WAN:   {{ route.value.hostname }}
# City:  {{ route.value.city }}
iptables -t nat -A POSTROUTING -o {{ route.value.hostname }} -j MASQUERADE
iptables -A FORWARD -i {{ route.value.hostname }} -o port-{{ route.key + 1 }} -m state --state RELATED,ESTABLISHED -j ACCEPT
iptables -A FORWARD -i port-{{ route.key + 1 }} -o {{ route.value.hostname }} -j ACCEPT
ip -4 route add 0.0.0.0/0 dev {{ route.value.hostname }} table 10{{ route.key + 1 }}
ip rule add iif port-{{ route.key + 1 }} lookup 10{{ route.key + 1 }}

{% endfor %}
